In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split

train_path = './datasets/MRPC/msr_paraphrase_train.txt'
test_path = './datasets/MRPC/msr_paraphrase_test.txt'

In [4]:
def split_mrpc_data(random_state=42):
    raw_train_df = pd.DataFrame(columns=['Quality', 'id1', 'id2', 'string1', 'string2'])
    with open(train_path, 'r') as f:
        lines = f.readlines()
        for line in lines[1:]:
            line = line.strip().split('\t')
            new_row = {'Quality': line[0], 'id1': line[1], 'id2': line[2], 'string1': line[3], 'string2': line[4]}
            raw_train_df.loc[len(raw_train_df)] = new_row
    
    # make train, dev set
    train_df, dev_df = train_test_split(raw_train_df, test_size=0.2, random_state=random_state)
         
    # test dataframe
    test_df = pd.DataFrame(columns=['Quality', 'id1', 'id2', 'string1', 'string2'])
    with open(test_path, 'r') as f:
        lines = f.readlines()
        for line in lines[1:]:
            line = line.strip().split('\t')
            new_row = {'Quality': line[0], 'id1': line[1], 'id2': line[2], 'string1': line[3], 'string2': line[4]}
            test_df.loc[len(test_df)] = new_row

    # save train, dev, test set
    train_df.to_csv("./datasets/MRPC/train.tsv", sep='\t', index=False)
    dev_df.to_csv("./datasets/MRPC/dev.tsv", sep='\t', index=False)
    test_df.to_csv("./datasets/MRPC/test.tsv", sep='\t', index=False)

In [5]:
split_mrpc_data()

In [87]:
df = pd.DataFrame(columns=['Quality', '#1 ID', '#2 ID', '#1 String', '#2 String'])
with open(data_path, 'r') as f:
    lines = f.readlines()
    for line in lines[1:]:
        line = line.strip().split('\t')
        new_row = {'Quality': line[0], '#1 ID': line[1], '#2 ID': line[2], '#1 String': line[3], '#2 String': line[4]}
        df.loc[len(df)] = new_row
df

,Quality,#1 ID,#2 ID,#1 String,#2 String
0,1,702876,702977,"Amrozi accused his brother, whom he called ""th...","Referring to him as only ""the witness"", Amrozi..."
1,0,2108705,2108831,Yucaipa owned Dominick's before selling the ch...,Yucaipa bought Dominick's in 1995 for $693 mil...
2,1,1330381,1330521,They had published an advertisement on the Int...,"On June 10, the ship's owners had published an..."
3,0,3344667,3344648,"Around 0335 GMT, Tab shares were up 19 cents, ...","Tab shares jumped 20 cents, or 4.6%, to set a ..."
4,1,1236820,1236712,"The stock rose $2.11, or about 11 percent, to ...",PG&E Corp. shares jumped $1.63 or 8 percent to...
...,...,...,...,...,...
4071,1,1620264,1620507,"""At this point, Mr. Brando announced: 'Somebod...","Brando said that ""somebody ought to put a bull..."
4072,0,1848001,1848224,"Martin, 58, will be freed today after serving ...",Martin served two thirds of a five-year senten...
4073,1,747160,747144,"""We have concluded that the outlook for price ...","In a statement, the ECB said the outlook for p..."
4074,1,2539933,2539850,The notification was first reported Friday by ...,MSNBC.com first reported the CIA request on Fr...
4075,0,453575,453448,The 30-year bond US30YT=RR rose 22/32 for a yi...,The 30-year bond US30YT=RR grew 1-3/32 for a y...

In [84]:
df

,Quality,#1 ID,#2 ID,#1 String,#2 String
0,1,1089874,1089925,"PCCW's chief operating officer, Mike Butcher, ...",Current Chief Operating Officer Mike Butcher a...
1,1,3019446,3019327,The world's two largest automakers said their ...,Domestic sales at both GM and No. 2 Ford Motor...
2,1,1945605,1945824,According to the federal Centers for Disease C...,The Centers for Disease Control and Prevention...
3,0,1430402,1430329,A tropical storm rapidly developed in the Gulf...,A tropical storm rapidly developed in the Gulf...
4,0,3354381,3354396,The company didn't detail the costs of the rep...,But company officials expect the costs of the ...
...,...,...,...,...,...
1720,0,2685984,2686122,"After Hughes refused to rehire Hernandez, he c...",Hernandez filed an Equal Employment Opportunit...
1721,0,339215,339172,There are 103 Democrats in the Assembly and 47...,Democrats dominate the Assembly while Republic...
1722,0,2996850,2996734,Bethany Hamilton remained in stable condition ...,"Bethany, who remained in stable condition afte..."
1723,1,2095781,2095812,"Last week the power stationâ€™s US owners, AES C...","The news comes after Drax's American owner, AE..."
1724,1,2136244,2136052,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...

In [29]:
lines[1].split('\t')

['0',
 'Dana Reeve, the widow of the actor Christopher Reeve, has died of lung cancer at age 44, according to the Christopher Reeve Foundation.',
 'Christopher Reeve had an accident.',
 'not_entailment\n']